<html>
<head>
  <style>
    div{
        color: brown;
        font-size: large;
        margin: 20px;
        padding: 20px;
    }
          p{
              font-size: large;
          }
  </style>

</head>
<body>
<div>
  <p>Click on the link to get the json data in a table format</p>
  <%= link_to "Facebook Login", '/auth/facebook' %>
</div>
</body>

</html>